<div class="container">
    <input type="text" class="form-control" placeholder="Search Here..." ng-model="commentVm.searchText">


    <table class="table table-striped">
        <thead>
        <tr>

            <th ng-click="commentVm.sorter.sortBy='title'; commentVm.sorter.sortOrder = !commentVm.sorter.sortOrder;">
                Comment
            </th>
            <th ng-click="commentVm.sorter.sortBy='user.id'; commentVm.sorter.sortOrder = !commentVm.sorter.sortOrder;">
                User
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="comment in commentVm.comments | filter:commentVm.searchText | orderBy:commentVm.sorter.sortBy: commentVm.sorter.sortOrder">
            <td> {{comment.commentText}}</td>
            <td> {{comment.user.id}}</td>
        </tr>
        </tbody>
    </table>
</div>